<div class="container">
    <div class="jumbotron" id="jumbo">
        <h1> Burger Time!</h1>
        {{!-- <img src="../Public/assets/img/pngfuel.com.png" alt="png" width="160px" class=" center"> --}}
        <p>Enjoy our Wonderful Burgers! Devour a Wonderful Burger!</p>
        <h2>Make Your Own Burger</h2>
    </div>
    <br>
    <form class="create-form">
        <div class="form-group">
            <label type="burgerbox">Make a Burger</label>
            <input type="text" id="burgerbox" name="burger">
            <button type="submit" class="btn btn-warning" id="add">
                <span class="fas fa-hamburger"></span>
            </button>
        </div>
    </form>
    <panel>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong></div>
                    <div class="panel-body">
                        <ul>
                            {{!-- for each loop through the table burgers returning burger unless it has been devoured --}}
                            {{#each burgers}}
                            {{#unless devoured}}
                            <li>
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="devour-burger btn btn-warning" id="eatbutton"
                                    data-id="{{this.id}}" data-newDevoured="{{devour}}">
                                    <span class="fas fa-hamburger"></span>
                                    </span> Devour It!
                                </button>
                            </li>
                            {{/unless}}
                            {{/each}}


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="rightside"><strong>Devour Your Burger</strong></div>
                    <div class="panel-body">
                        <ul>
                            {{!-- for each loop though the database table burgers and returning burgers if devoured is true --}}
                            {{#each burgers}}
                            {{#if devoured}}
                            <li>
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="delete-burger btn btn-warning" id="trashbutton"
                                    data-id="{{this.id}}" data-newDevoured="{{devour}}"><span
                                        class="fa fa-trash"></span>
                                    Put Trash Out!!</button>
                            </li>
                            {{/if}}
                            {{/each}}


                        </ul>
                    </div>
                </div>
            </div>
        </div>